<!DOCTYPE html>
<html>

 <body class="container">


  <!-- eader of the application  => included the patials header -->
  <div class="row">

    
    <div class="columns five" id="bloginfo"> </div>
   </div>

      
     <!--  Kush kumar dhawan-->
    
</body>



</html>
