*{

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

  //working but not used
html { 
  background: url(kdconcept.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 


section {
  overflow: auto;
}

.container{
	width: 100%;
	margin: 0 auto;   
	
}

.container .columns{
	float: left;}

.container .columns.one   		{ width: 6.25%; }
.container .columns.two   		{ width: 12.5%; }
.container .columns.three 		{ width: 18.75%;}
.container .columns.four  		{ width:  25%;  }
.container .columns.five   		{ width: 31.25%;}
.container .columns.six   		{ width: 37.5%; }
.container .columns.seven 		{ width: 43.75%;}
.container .columns.eight  		{ width:  50%;  }
.container .columns.nine   		{ width: 56.25%;}
.container .columns.ten   		{ width: 62.5%; }
.container .columns.eleven 		{ width: 68.75%;}
.container .columns.twelve  	{ width:  75%;  }
.container .columns.thirteen   	{ width: 81.25%;}
.container .columns.fourteen   	{ width: 87.5%; }
.container .columns.fifteen    	{ width: 93.75%;}
.container .columns.sixteen    	{ width:  100%; }

.clearfix:after , .container:after {

	content: '';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width:  0;
	height: 0;
	clear: both;

}

.clerafix, .container {
	zoom: 1;
}

.row {
	float: right;   
	clear: both;
	width: 100%;
}



/* For Flexible Images */
img{
	max-width: 100%;
	height: auto;
}