
/* Removing the bootstrap code
 @import "bootstrap-sprockets";
@import "bootstrap";  */

@import "16grid.css.scss";

/*
#nav {
background-color:#AFB2A8;
opacity: 0.4;
z-index: -1;
  width: 100%;
  }

  */

#bloginfo{
background-color:#AFB2A8;
opacity: 0.4;
z-index: -1;  
height: 450px;
margin: 8px 22px 8px 22px;
}



nav {
	background-color: #AFB2A8;
	border: 1px solid #dedede;
	opacity: 0.4;
	z-index: -1;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	
	display: block;
	margin: 8px 22px 8px 22px;
	overflow: hidden;
	width: 90%; 
}

nav ul {
	margin: 0;
	padding: 0;
}

	nav ul li {
		display: inline-block;
		list-style-type: none;
		
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-ms-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s; 
	}

	nav > ul > li > a {
			color: #FFFFFF;
			display: block;
			line-height: 56px;
			padding: 0 24px;
			text-decoration: none;
		}

		nav > ul > li > a > .caret {
	border-top: 4px solid #aaa;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	display: inline-block;
	height: 0;
	width: 0;
	vertical-align: middle;
	
	-webkit-transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
	  transition: color 0.1s linear; 
}
	
	 nav > ul > li:hover {
          background-color: rgb( 40, 44, 47 );
        }

        nav > ul > li:hover > a {
          color: rgb( 255, 255, 255 );
        }

        nav > ul > li:hover > a > .caret {
          border-top-color: rgb( 255, 255, 255 );
        }