<footer class="container">
 
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
     <!-- <li><a href="http://news.railstutorial.org/">News</a></li>  -->
     <li><%= link_to "News", "#" %></li>
    </ul>
  </nav>
</footer>