


<header >
  <div class="container">
   
   <!-- Navigation Panel -->
    <nav>
      <ul class="button">
        <li><%= link_to "Home",   root_path %></li>
         <li><%= link_to "Blog", "#" %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Log in", home_path %></li>
      </ul>
    </nav>


  </div>
</header>