<!DOCTYPE html>
<html>



<!-- Head and title of the application --> 
  <head>
    <title >
    <%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
    <%= stylesheet_link_tag    'application', media: 'all','data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>




 <body class="container">


  <!-- eader of the application  => included the patials header -->
  <div class="row">

     <div class="columns ten"> </div>
      <div class="columns five"> <%= render 'layouts/header' %> </div>

  </div>


    <!-- Main Body goes here i.e. the other pages layout goes here--> 
    <div class="row">
    <div class="columns nine">   <%= yield %>  </div>
    </div>

      
      <!-- footer of the application goes here -->
      <div class="row">
      <div class="columns ten">  </div>
      <div class="columns five"> <%= render 'layouts/footer' %> </div>
      </div>
    
</body>



</html>
